
<div class="calculator">
<form action="/" method="get">
    <input type="text" name="a" required>
    <select name="func">
        <option value="*">*</option>
        <option value="+" selected>+</option>
        <option value="-">-</option>
        <option value="/">/</option>
    </select>
    <input type="text" name="b" required>
    <button type="submit">=</button>
</form>
<div>{{result}}</div>
</div>
